## .env sample file
#copy it to .env, and customize settings
DOMAIN=yourdomain.here
ACME_EMAIL=you@yourprovider.here
ACME_STORAGE=/path/to/acme.json

JACKETT_KEY=YourJackettKey

DOWNLOAD_DIR=/path/to/downloads
DELUGE_CONFIG=/path/to/deluge-config
SICKRAGE_CONFIG=/path/to/sickrage-config
SONARR_CONFIG=/path/to/sonarr-config
RADARR_CONFIG=/path/to/radarr-config
JACKETT_CONFIG=/path/to/jackett-config
BLACKHOLE_DIR=/path/to/blackhole
TV_DIR=/path/to/tv-shows
MOVIES_DIR=/path/to/movies

#Put your GID here
PGID=

#Put your UID here
PUID=

#Put your timezone here
TZ=

