## .env sample file
#copy it to .env, and customize settings

DOWNLOAD_DIR=/docker/downloads
SICKRAGE_CONFIG=/docker/sickrage
COUCHPOTATO_CONFIG=/docker/couchpotato
TV_DIR=/tv-shows
MOVIES_DIR=/movies
PGID=20
PUID=1026
TZ=BRT
